@import '../../styles/variable.scss';

.#{$prefix}-risk-info {
  display: block;
  &-card {
    border-radius: 8px;
  }
  &-title {
    padding-left: 28px;
    background-image: url('../../assets/images/common/alert.svg');
    background-repeat: no-repeat;
    background-size: 22px 19px;
    background-position: 0;
  }
}
